<div class="login-container">
  <form class="login-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <h1>{{ isLogin ? "Login" : "Signup" }}</h1>
    <mat-form-field class="login-full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="em@il.com"
        type="email"
        formControlName="email"
      />
    </mat-form-field>

    <mat-form-field class="login-full-width">
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="password"
        type="password"
        formControlName="password"
      />
    </mat-form-field>

    <div class="btn-group">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!authForm.valid"
      >
        Submit
      </button>

      <button
        mat-button
        color="primary"
        type="button"
        (click)="isLogin = !isLogin"
      >
        {{ isLogin ? "Signup" : "Login" }}
      </button>
    </div>
  </form>
</div>
